This notebook only works with OH, because the data in [https://electionlab.mit.edu/data][https://electionlab.mit.edu/data] comes in seperate files for each state. One could replicate the cleaning done here with every state separately, or figure out a way to merge all of the data in one DataFrame and then clean everything at once

[https://electionlab.mit.edu/data]: https://electionlab.mit.edu/data

This data includes voting data for all candidates in the elections, but it does not include more granular demographic data, so I'm not sure if this will be enough to run a model.

In [1]:
import pandas as pd

In [3]:
gerry = pd.read_csv("../data/gerrymanderData_2018 Election.csv")

In [4]:
gerry.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435 entries, 0 to 434
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   district    435 non-null    object
 1   last_name   435 non-null    object
 2   first_name  435 non-null    object
 3   party16     435 non-null    object
 4   clinton16   435 non-null    float64
 5   trump16     435 non-null    float64
 6   dem16       435 non-null    int64
 7   state       435 non-null    object
 8   party18     435 non-null    object
 9   dem18       435 non-null    int64
 10  flip18      435 non-null    int64
 11  gerry       435 non-null    object
dtypes: float64(2), int64(3), object(7)
memory usage: 40.9+ KB

In [5]:
## This is the data from the MIT website https://electionlab.mit.edu/data
oh = pd.read_csv("../data/2018-oh-precinct-general.csv")

/tmp/ipykernel_14466/3817065844.py:2: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  oh = pd.read_csv("../data/2018-oh-precinct-general.csv")

In [6]:
oh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 383988 entries, 0 to 383987
Data columns (total 25 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   precinct           383988 non-null  object
 1   office             383988 non-null  object
 2   party_detailed     365212 non-null  object
 3   party_simplified   365212 non-null  object
 4   mode               383988 non-null  object
 5   votes              383988 non-null  int64
 6   county_name        383988 non-null  object
 7   county_fips        383988 non-null  int64
 8   jurisdiction_name  383988 non-null  object
 9   jurisdiction_fips  383988 non-null  int64
 10  candidate          383988 non-null  object
 11  district           287844 non-null  object
 12  magnitude          383988 non-null  float64
 13  dataverse          383988 non-null  object
 14  year               383988 non-null  int64
 15  stage              383988 non-null  object
 16  state              383988 non-null  object
 17  special            383988 non-null  bool
 18  writein            383988 non-null  bool
 19  state_po           383988 non-null  object
 20  state_fips         383988 non-null  int64
 21  state_cen          383988 non-null  int64
 22  state_ic           383988 non-null  int64
 23  date               383988 non-null  object
 24  readme_check       383988 non-null  bool
dtypes: bool(3), float64(1), int64(7), object(14)
memory usage: 65.5+ MB

In [7]:
## Filter out all candidates other than US HOUSE
oh = oh[oh.office == "US HOUSE"]

In [8]:
oh.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21410 entries, 0 to 21409
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   precinct           21410 non-null  object
 1   office             21410 non-null  object
 2   party_detailed     21410 non-null  object
 3   party_simplified   21410 non-null  object
 4   mode               21410 non-null  object
 5   votes              21410 non-null  int64
 6   county_name        21410 non-null  object
 7   county_fips        21410 non-null  int64
 8   jurisdiction_name  21410 non-null  object
 9   jurisdiction_fips  21410 non-null  int64
 10  candidate          21410 non-null  object
 11  district           21410 non-null  object
 12  magnitude          21410 non-null  float64
 13  dataverse          21410 non-null  object
 14  year               21410 non-null  int64
 15  stage              21410 non-null  object
 16  state              21410 non-null  object
 17  special            21410 non-null  bool
 18  writein            21410 non-null  bool
 19  state_po           21410 non-null  object
 20  state_fips         21410 non-null  int64
 21  state_cen          21410 non-null  int64
 22  state_ic           21410 non-null  int64
 23  date               21410 non-null  object
 24  readme_check       21410 non-null  bool
dtypes: bool(3), float64(1), int64(7), object(14)
memory usage: 3.8+ MB

In [9]:
oh.head()

,precinct,office,party_detailed,party_simplified,mode,votes,county_name,county_fips,jurisdiction_name,jurisdiction_fips,...,stage,state,special,writein,state_po,state_fips,state_cen,state_ic,date,readme_check
0,ADDYSTON A,US HOUSE,DEMOCRAT,DEMOCRAT,TOTAL,71,HAMILTON,39061,HAMILTON,39061,...,GEN,OHIO,False,False,OH,39,31,24,2018-11-06,False
1,ADDYSTON A,US HOUSE,LIBERTARIAN,LIBERTARIAN,TOTAL,5,HAMILTON,39061,HAMILTON,39061,...,GEN,OHIO,False,False,OH,39,31,24,2018-11-06,False
2,ADDYSTON A,US HOUSE,REPUBLICAN,REPUBLICAN,TOTAL,157,HAMILTON,39061,HAMILTON,39061,...,GEN,OHIO,False,False,OH,39,31,24,2018-11-06,False
3,CARLISLE VILLAGE 1-A,US HOUSE,DEMOCRAT,DEMOCRAT,TOTAL,66,WARREN,39165,WARREN,39165,...,GEN,OHIO,False,False,OH,39,31,24,2018-11-06,False
4,CARLISLE VILLAGE 1-A,US HOUSE,LIBERTARIAN,LIBERTARIAN,TOTAL,9,WARREN,39165,WARREN,39165,...,GEN,OHIO,False,False,OH,39,31,24,2018-11-06,False

In [10]:
## Filter out some irrelevant columns
oh = oh.drop(['office','party_detailed','mode','magnitude','dataverse','stage','state','special','writein','state_fips','state_cen','state_ic','date','readme_check'],axis=1)

In [11]:
oh.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21410 entries, 0 to 21409
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   precinct           21410 non-null  object
 1   party_simplified   21410 non-null  object
 2   votes              21410 non-null  int64
 3   county_name        21410 non-null  object
 4   county_fips        21410 non-null  int64
 5   jurisdiction_name  21410 non-null  object
 6   jurisdiction_fips  21410 non-null  int64
 7   candidate          21410 non-null  object
 8   district           21410 non-null  object
 9   year               21410 non-null  int64
 10  state_po           21410 non-null  object
dtypes: int64(4), object(7)
memory usage: 2.0+ MB

In [12]:
oh

,precinct,party_simplified,votes,county_name,county_fips,jurisdiction_name,jurisdiction_fips,candidate,district,year,state_po
0,ADDYSTON A,DEMOCRAT,71,HAMILTON,39061,HAMILTON,39061,AFTAB PUREVAL,1.0,2018,OH
1,ADDYSTON A,LIBERTARIAN,5,HAMILTON,39061,HAMILTON,39061,DIRK KUBALA,1.0,2018,OH
2,ADDYSTON A,REPUBLICAN,157,HAMILTON,39061,HAMILTON,39061,STEVE CHABOT,1.0,2018,OH
3,CARLISLE VILLAGE 1-A,DEMOCRAT,66,WARREN,39165,WARREN,39165,AFTAB PUREVAL,1.0,2018,OH
4,CARLISLE VILLAGE 1-A,LIBERTARIAN,9,WARREN,39165,WARREN,39165,DIRK KUBALA,1.0,2018,OH
...,...,...,...,...,...,...,...,...,...,...,...
21405,WOOSTER TWP 2,DEMOCRAT,230,WAYNE,39169,WAYNE,39169,SUSAN MORAN PALMER,16.0,2018,OH
21406,WOOSTER TWP 2,REPUBLICAN,519,WAYNE,39169,WAYNE,39169,ANTHONY GONZALEZ,16.0,2018,OH
21407,WOOSTER TWP 3,DEMOCRAT,200,WAYNE,39169,WAYNE,39169,SUSAN MORAN PALMER,16.0,2018,OH
21408,WOOSTER TWP 3,REPUBLICAN,458,WAYNE,39169,WAYNE,39169,ANTHONY GONZALEZ,16.0,2018,OH
21409,YORK TP A,REPUBLICAN,4,MEDINA,39103,MEDINA,39103,ANTHONY GONZALEZ,16.0,2018,OH

In [13]:
## Create a new column "gerry"
oh['gerry'] = ''

In [14]:
## This code is just to locate all the rows corresponding to OH
gerry[gerry.district=="OH-16"]

,district,last_name,first_name,party16,clinton16,trump16,dem16,state,party18,dem18,flip18,gerry
313,OH-16,Renacci,Jim,R,39.5,56.1,0,OH,R,0,0,high

In [15]:
## This cell extracts a DataFrame from gerry with only the entries for OH
gerry_OH = gerry.loc[(gerry.index >= 298) & (gerry.index <=313)]

In [16]:
gerry_OH

,district,last_name,first_name,party16,clinton16,trump16,dem16,state,party18,dem18,flip18,gerry
298,OH-01,Chabot,Steve,R,44.6,51.2,0,OH,R,0,0,high
299,OH-02,Wenstrup,Brad,R,39.7,55.8,0,OH,R,0,0,high
300,OH-03,Beatty,Joyce,D,67.0,28.6,1,OH,D,1,0,high
301,OH-04,Jordan,Jim,R,30.7,64.3,0,OH,R,0,0,high
302,OH-05,Latta,Bob,R,34.6,59.7,0,OH,R,0,0,high
303,OH-06,Johnson,Bill,R,26.7,69.3,0,OH,R,0,0,high
304,OH-07,Gibbs,Bob,R,32.8,62.5,0,OH,R,0,0,high
305,OH-08,Davidson,Warren,R,30.6,65.1,0,OH,R,0,0,high
306,OH-09,Kaptur,Marcy,D,58.7,36.5,1,OH,D,1,0,high
307,OH-10,Turner,Michael,R,44.0,51.3,0,OH,R,0,0,high
308,OH-11,Fudge,Marcia,D,80.5,17.0,1,OH,D,1,0,high
309,OH-12,Tiberi,Patrick,R,41.9,53.2,0,OH,R,0,0,high
310,OH-13,Ryan,Tim,D,51.1,44.6,1,OH,D,1,0,high
311,OH-14,Joyce,David,R,42.1,53.6,0,OH,R,0,0,high
312,OH-15,Stivers,Steve,R,39.9,55.3,0,OH,R,0,0,high
313,OH-16,Renacci,Jim,R,39.5,56.1,0,OH,R,0,0,high

In [17]:
## notice that all districts are classified as "high", so filling in the gerry column in oh is trivial
oh['gerry']='high'
oh

,precinct,party_simplified,votes,county_name,county_fips,jurisdiction_name,jurisdiction_fips,candidate,district,year,state_po,gerry
0,ADDYSTON A,DEMOCRAT,71,HAMILTON,39061,HAMILTON,39061,AFTAB PUREVAL,1.0,2018,OH,high
1,ADDYSTON A,LIBERTARIAN,5,HAMILTON,39061,HAMILTON,39061,DIRK KUBALA,1.0,2018,OH,high
2,ADDYSTON A,REPUBLICAN,157,HAMILTON,39061,HAMILTON,39061,STEVE CHABOT,1.0,2018,OH,high
3,CARLISLE VILLAGE 1-A,DEMOCRAT,66,WARREN,39165,WARREN,39165,AFTAB PUREVAL,1.0,2018,OH,high
4,CARLISLE VILLAGE 1-A,LIBERTARIAN,9,WARREN,39165,WARREN,39165,DIRK KUBALA,1.0,2018,OH,high
...,...,...,...,...,...,...,...,...,...,...,...,...
21405,WOOSTER TWP 2,DEMOCRAT,230,WAYNE,39169,WAYNE,39169,SUSAN MORAN PALMER,16.0,2018,OH,high
21406,WOOSTER TWP 2,REPUBLICAN,519,WAYNE,39169,WAYNE,39169,ANTHONY GONZALEZ,16.0,2018,OH,high
21407,WOOSTER TWP 3,DEMOCRAT,200,WAYNE,39169,WAYNE,39169,SUSAN MORAN PALMER,16.0,2018,OH,high
21408,WOOSTER TWP 3,REPUBLICAN,458,WAYNE,39169,WAYNE,39169,ANTHONY GONZALEZ,16.0,2018,OH,high
21409,YORK TP A,REPUBLICAN,4,MEDINA,39103,MEDINA,39103,ANTHONY GONZALEZ,16.0,2018,OH,high